    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background-color: #DEE6E9;
      cursor: default;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
    }

    h1, button {
     font-size: 40vh;
     text-align: center;
     font-weight: 200;
    }

    button {
      background: #DEE6E9;
      padding: 0 60px;
      border: solid black 4px;
      cursor: pointer;
    }

    #buttons {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
    }